/* 
&display=swap
&subset=cyrillic-ext 
*/

@import url("https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 20px;
}
/* ------------------------------ */

.block_main {
	width: 75%;
	margin: 0px auto;
}

.block_1 {
	display: inline-block;
	border: 4px solid #a0b3a8;
	width: 300px;
	max-height: 200px;
	overflow: hidden;
	padding: 20px;
	margin: 30px 0px 0px 0px;
	background-color: rgba(160, 179, 168, 0.7);
}

.block_2 {
	display: inline-block;
	border: 6px dashed #a0b3a8;
	width: 300px;
	max-height: 200px;
	overflow: hidden;
	padding: 20px;
	margin: 30px 0px 0px 0px;
	background-color: rgba(160, 179, 168, 0.7);
	vertical-align: top;
	overflow: auto;
}

.block_3 {
	display: inline-block;
	border: 5px dotted #a0b3a8;
	width: 300px;
	max-height: 200px;
	overflow: hidden;
	padding: 20px;
	margin: 30px 0px 0px 0px;
	background-color: rgba(160, 179, 168, 0.7);
	vertical-align: top;
}

.circle_main {
	height: 400px;
	margin: 100px 0px 100px 0px;
	background-color: #ecc8c9;
	border-radius: 40px;
	border: 2px solid #b157a6;
}

.circle_1 {
	background-color: #bb99b7;
	padding: 30px;
	border-radius: 25px;
	margin: 15px 0px 15px 0px;
}

.circle_2 {
	background-color: #bb99b7;
	padding: 30px;
	border-radius: 25px;
	margin: 0px 0px 10px 0px;
	font-family: "Dancing Script";
	font-size: 20px;
}

.circle_3 {
	background-color: #bb99b7;
	padding: 30px;
	border-radius: 25px;
	margin: 0px 0px 0px 0px;
	line-height: 90%;
}

.img {
	display: block;
	max-width: 500px;
	margin: 0px auto;
	border: 10px double #262741;
	border-radius: 15px;
}

.round_1 {
	display: inline-block;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: #eeeb33;
	text-align: center;
	padding: 100px 0px 0px 0px;
	font-weight: 700;
	box-shadow: 5px 10px 30px 5px #c575bc;
}

.round_2 {
	font-family: "Dancing Script";
	display: inline-block;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: #e48826;
	text-align: center;
	padding: 100px 0px 0px 0px;
	vertical-align: top;
	box-shadow: -50px -25px 30px 5px #c575bc;
	opacity: 0.7;
}

.round_main {
	background-color: aqua;
	margin: 30px;
	padding: 20px;
	border-radius: 30px;
	text-align: center;
}

.task_centr {
	width: 300px;
	margin: 0px auto;
}

.task {
	color: rgb(209, 66, 66);
	font-size: 50px;
	border: 2px solid #b157a6;
	display: inline-block;
	width: 300px;
	text-align: center;
	border-radius: 30px;
	background-color: rgb(83, 183, 187);
}

.krug {
	width: 200px;
	height: 200px;
	background-color: #262741;
	border-radius: 50%;
}

.block_p {
	margin: 35px;
	padding: 10px;
	border: 3px solid #c575bc;
	background-color: #ecc8c9;
	border-radius: 25px;
	opacity: 0.5;
}

.text {
	display: inline-block;
	border: 2px dashed #eeeb33;
	background-color: #faebd7;
	margin: 50px;
	padding: 20px;
}

.block_gr {
	margin: 60px;
	padding: 50px;
	background-color: #ff7f50;
	border-left: 10px double rgba(166, 68, 33, 0.3);
	border-right: 15px solid #eeeb33;
	border-top: 8px dashed #b157a6;
	border-bottom: 20px dotted #262741;
	font-style: italic;
	font-size: 25px;
}

.button_c {
	text-align: center;
}

.button {
	display: inline-block;
	background-color: #bb99b7;
	border-radius: 30px;
	padding: 10px;
	font-size: 50px;
	font-family: "Dancing Script";
	color: #88167b;
	border: 2px solid #c575bc;
	box-shadow: 5px 3px 7px 2px #88167b;
}
